.fundo {
    background-color: #00ced1;
    
  }

.conteiner_agenda_div2_img{
    align-items: center;
    width: 100%;
    height: 80%;
}
img {
display: block;
margin-left: auto;
margin-right: auto;
width: 70%;
height: 90%;

}
.texto{
    font-family: "Open Sans Condensed", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 45px;
    text-align: center;
}

li{
    padding-bottom: 8px;
    list-style-type:square;
}
i{
 text-align: center;
 color: black;
 
}
a{
  color: black;
  width: 10px;
}
.divagenda1{

    overflow: auto;
    font-size: 30px;
    
    position: absolute;
    bottom: 19%;
      width: 50%;
      height: 50%;
    
}